PORT=8082
MONGO_URI=mongodb://localhost:27017/contractly
JWT_SECRET=contractly-super-secret-key
FRONTEND_URL=http://localhost:5173

# Razorpay
RAZORPAY_KEY_ID=rzp_test_XXXXXXXXXXXXXX
RAZORPAY_KEY_SECRET=XXXXXXXXXXXXXXXXXXXXXXXX
